<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">
  <div class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon">
      <img src="/res/img/logo.svg" alt="Sidebar Logo" height="35px" draggable="false" />
    </div>
    <div class="sidebar-brand-text mx-3">
      <img src="/res/img/logo_txt.svg" alt="Sidebar Logo" height="20px" draggable="false" />
    </div>
  </div>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/mess/notices">
      <i class="fas fa-fw fa-clipboard"></i>
      <span>Notices</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/mess/bazarchart">
      <i class="fas fa-fw fa-atlas"></i>
      <span>Bazars</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/mess/mealchart">
      <i class="fas fa-fw fa-hamburger"></i>
      <span>Meals</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/mess/moneychart">
      <i class="fas fa-fw fa-money-bill-alt"></i>
      <span>Money</span></a
    >
  </li>
  <!-- Header -->
  <div class="sidebar-heading">My Mess</div>
  <li class="nav-item">
    <a class="nav-link" href="/mess/addmoney">
      <i class="fas fa-fw fa-hand-holding-usd"></i>
      <span>Add Money</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/mess/addmeal">
      <i class="fas fa-fw fa-archive"></i>
      <span>Add Meal</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="/mess/addbazar">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Add Bazar</span></a
    >
  </li>
  <!-- Header -->
  <div class="sidebar-heading">My Informations</div>

  <li class="nav-item">
    <a class="nav-link" href="../users/profile">
      <i class="fas fa-fw fa-user-circle"></i>
      <span>Profile</span></a
    >
  </li>
  <hr class="sidebar-divider my-0" />
  <li class="nav-item">
    <a class="nav-link" href="../users/logout">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Logout</span></a
    >
  </li>
</ul>
