<body class="bg-gradient-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-lg-block bg-login-image">
                <div class="container" style="margin-top: 15px">
                  <%- include('partials/msgs'); %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <hr />
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">
                      <strong>Welcome!</strong>
                    </h1>
                  </div>
                  <hr />
                  <form class="user">
                    <p class="mb-4">Click on <b>Login</b> or <b>Register</b> to Continue!</p>
                    <hr />
                    <a href="/users/login" class="btn btn-primary btn-user btn-block"> Login </a>
                    <hr />
                    <a href="/users/register" class="btn btn-secondary btn-user btn-block">
                      Register
                    </a>
                  </form>
                  <hr />
                  <div class="text-center">
                    <a class="text-gray-900" href="https://github.com/rashed360/messmanager">
                      Java Version of this project!</a
                    >
                  </div>
                  <div class="text-center">
                    <a class="small" href="#" data-toggle="modal" data-target="#inform" >Mess Manager &copy; 2020</a>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
